{
	"info": {
		"_postman_id": "d58461fb-ce37-4281-a11c-5597be9cd7f4",
		"name": "shopping-cart",
		"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
	},
	"item": [
		{
			"name": "authenticate",
			"request": {
				"method": "POST",
				"header": [
					{
						"key": "accept",
						"value": "*/*"
					},
					{
						"key": "Content-Type",
						"value": "application/json"
					},
					{
						"key": "Authorization",
						"value": "null"
					}
				],
				"body": {
					"mode": "raw",
					"raw": "{\n  \"username\": \"admin\",\n  \"password\": \"admin\",\n  \"rememberMe\": true\n}"
				},
				"url": {
					"raw": "http://localhost:8080/api/authenticate",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"authenticate"
					]
				}
			},
			"response": []
		},
		{
			"name": "Add Product",
			"request": {
				"method": "POST",
				"header": [],
				"body": {
					"mode": "raw",
					"raw": "{\n    \"name\":\" Pepsi\",\n    \"sku\": \"some sku\",\n    \"description\": \"some nice description\",\n    \"price\": 5.8\n}",
					"options": {
						"raw": {
							"language": "json"
						}
					}
				},
				"url": {
					"raw": "http://localhost:8080/api/products",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"products"
					]
				}
			},
			"response": []
		},
		{
			"name": "Create a Cart",
			"request": {
				"method": "POST",
				"header": [],
				"body": {
					"mode": "raw",
					"raw": "{\n    \"state\":\"PENDING\"\n}",
					"options": {
						"raw": {
							"language": "json"
						}
					}
				},
				"url": {
					"raw": "http://localhost:8080/api/carts",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"carts"
					]
				}
			},
			"response": []
		},
		{
			"name": "Add Product Cart",
			"request": {
				"method": "POST",
				"header": [],
				"body": {
					"mode": "raw",
					"raw": "{\n    \"productId\":\"d48a4730-9b82-4587-a4b0-0231c219bf63\",\n    \"quantity\": 12\n}",
					"options": {
						"raw": {
							"language": "json"
						}
					}
				},
				"url": {
					"raw": "http://localhost:8080/api/carts/3066598f-6d41-4d20-ba94-aa49f7739a74/add-product",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"carts",
						"3066598f-6d41-4d20-ba94-aa49f7739a74",
						"add-product"
					]
				}
			},
			"response": []
		},
		{
			"name": "Update Product Cart",
			"request": {
				"method": "POST",
				"header": [],
				"body": {
					"mode": "raw",
					"raw": "{\n    \"productId\":\"2f4086ec-1e48-478f-adfa-0335fa46fd58\",\n    \"quantity\": 17\n}",
					"options": {
						"raw": {
							"language": "json"
						}
					}
				},
				"url": {
					"raw": "http://localhost:8080/api/carts/1ac7c937-557c-404a-b3f4-8755fc4fc438/update-product",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"carts",
						"1ac7c937-557c-404a-b3f4-8755fc4fc438",
						"update-product"
					]
				}
			},
			"response": []
		},
		{
			"name": "Remove Product Cart",
			"request": {
				"method": "DELETE",
				"header": [],
				"body": {
					"mode": "raw",
					"raw": "{\n    \"productId\":\"7a72ad2f-2322-47e7-8134-eb9049cda2c5\",\n    \"quantity\": 10\n}",
					"options": {
						"raw": {
							"language": "json"
						}
					}
				},
				"url": {
					"raw": "http://localhost:8080/api/carts/48d1ec16-a945-4ac0-b19a-413678c4865b/remove-product",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"carts",
						"48d1ec16-a945-4ac0-b19a-413678c4865b",
						"remove-product"
					]
				}
			},
			"response": []
		},
		{
			"name": "Update a Product",
			"request": {
				"method": "PUT",
				"header": [],
				"body": {
					"mode": "raw",
					"raw": "{\n    \"id\": \"10399a21-bc64-4621-921b-54b5af958aee\",\n    \"name\":\" Pepsi\",\n    \"sku\": \"some sku\",\n    \"description\": \"some nice description\",\n    \"price\": 4.2\n}",
					"options": {
						"raw": {
							"language": "json"
						}
					}
				},
				"url": {
					"raw": "http://localhost:8080/api/products/10399a21-bc64-4621-921b-54b5af958aee",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"products",
						"10399a21-bc64-4621-921b-54b5af958aee"
					]
				}
			},
			"response": []
		},
		{
			"name": "Get a Product",
			"request": {
				"method": "GET",
				"header": [],
				"url": {
					"raw": "http://localhost:8080/api/products/10399a21-bc64-4621-921b-54b5af958aee",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"products",
						"10399a21-bc64-4621-921b-54b5af958aee"
					]
				}
			},
			"response": []
		},
		{
			"name": "Get a Cart",
			"request": {
				"method": "GET",
				"header": [],
				"url": {
					"raw": "http://localhost:8080/api/carts/0c4a01c9-4928-4b7b-ae2d-c1a939b89abd",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"carts",
						"0c4a01c9-4928-4b7b-ae2d-c1a939b89abd"
					]
				}
			},
			"response": []
		},
		{
			"name": "Get cart products",
			"request": {
				"method": "GET",
				"header": [],
				"url": {
					"raw": "http://localhost:8080/api/carts/25f1aa77-3689-4347-9726-7ea6cb2370d9/products",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"carts",
						"25f1aa77-3689-4347-9726-7ea6cb2370d9",
						"products"
					]
				}
			},
			"response": []
		},
		{
			"name": "Get total prices",
			"request": {
				"method": "GET",
				"header": [],
				"url": {
					"raw": "http://localhost:8080/api/carts/3066598f-6d41-4d20-ba94-aa49f7739a74/total-price",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"carts",
						"3066598f-6d41-4d20-ba94-aa49f7739a74",
						"total-price"
					]
				}
			},
			"response": []
		},
		{
			"name": "checkout",
			"request": {
				"method": "GET",
				"header": [],
				"url": {
					"raw": "http://localhost:8080/api/carts/3066598f-6d41-4d20-ba94-aa49f7739a74/total-price",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"carts",
						"3066598f-6d41-4d20-ba94-aa49f7739a74",
						"total-price"
					]
				}
			},
			"response": []
		},
		{
			"name": "Get All Carts",
			"request": {
				"method": "GET",
				"header": [],
				"url": {
					"raw": "http://localhost:8080/api/carts/",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"carts",
						""
					]
				}
			},
			"response": []
		},
		{
			"name": "Get All Products",
			"request": {
				"method": "GET",
				"header": [],
				"url": {
					"raw": "http://localhost:8080/api/products/",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"products",
						""
					]
				}
			},
			"response": []
		},
		{
			"name": "Delete a Product",
			"request": {
				"method": "DELETE",
				"header": [],
				"url": {
					"raw": "http://localhost:8080/api/products/10399a21-bc64-4621-921b-54b5af958aee",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"api",
						"products",
						"10399a21-bc64-4621-921b-54b5af958aee"
					]
				}
			},
			"response": []
		}
	],
	"auth": {
		"type": "bearer",
		"bearer": [
			{
				"key": "token",
				"value": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsImF1dGgiOiJST0xFX0FETUlOLFJPTEVfVVNFUiIsImV4cCI6MTY0NTgzMjk1Mn0.ro9fxhqoiDQ7_JyPPjhJsKkOuic2JlYZ_l4TPjbmwaWcdmuUrPASeGHaGs2DVk9r3OrjnGuf0M-uYv_oQuK4DQ",
				"type": "string"
			}
		]
	},
	"event": [
		{
			"listen": "prerequest",
			"script": {
				"type": "text/javascript",
				"exec": [
					""
				]
			}
		},
		{
			"listen": "test",
			"script": {
				"type": "text/javascript",
				"exec": [
					""
				]
			}
		}
	]
}